.con {
  position: relative;
  bottom: 124px;
}
.baseCon {
  background: #66d49d;
  opacity: 0.3;
  filter: alpha(opacity=30);
  display: inline-block;
  height: 55px;
  text-align: center;
  color: #eb5757;
  font-size: 53px;
  margin-top: -42px;
  position: relative;
  width: 100px;
}
.baseCon:before {
  border-bottom: 35px solid #66d49d;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

.fa {
  bottom: 12px;
  position: relative;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.contactUs {
  display: flex;
  flex-flow: row wrap;

  padding-top: 2px;
}

section {
  background: #66D49D;

  margin-top: auto;
  width: 100%;
}

.footer-list-top {
  width: 45%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;

  font-weight: bold;
  font: 2.3vw "Oswald", sans-serif;
}

hr {
  color: #800000;
  size: 1px;
  width: 35%;
}
.vl{
  border-left: 1px solid gray;
}

.footer-list-anchor {
  font: 24px "Roboto";
  font-weight: bold;
  color: white;
}

.footer-list-anchor2 {
  font: 18px "Roboto";
  color: #fff;
  font-weight: lighter;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }
  .footer-list-anchor {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }
  .footer-list-top {
    width: 100%;
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em;
  }
  .footer-list-anchor {
    font-size: 1.2em;
  }
}
