$primary-light-blue: #8DB9ED;
$primary-line-color: #ccc;
* {
  box-sizing: border-box;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.contactUs {
  display: flex;
  flex-flow: row wrap;
}

section {
  background: rgb(55, 55, 55);
  margin-top: auto;
  width: 100%;
}

.footer-list-top {
  width: 45%;
}

.footer-list-top>li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif;
}

.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif;
}


@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }
  .footer-list-anchor {
    font-size: 1.1em;
  }
}


@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }
  .footer-list-top {
    width: 100%;
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em;
  }
  .footer-list-anchor {
    font-size: 1.2em;
  }
}
